<nav class="navbar navbar-expand-lg">
  <div>
    <button class="navbar-toggler border-white" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav me-auto mb-2 mb-lg-0">

        <a class="nav-link" href="#">首頁</a>

        <a class="nav-link" href="#">股市新聞</a>

        <a class="nav-link" href="#">技術指標</a>

      </div>
    </div>
  </div>
</nav>