<div class="search-bar mt-4">
  <form>
    <div class="search">
      <div class="mb-3 me-3">
        <label for="platform" class="form-label">平台</label>
        <input type="text" class="form-control" id="platform" name="platform" value="{{ params['platform'] }}" aria-describedby="emailHelp">
      </div>
      <div class="mb-3 me-3">
        <label for="author" class="form-label">作者</label>
        <input type="text" class="form-control" id="author" name="author" value="{{ params['author'] }}">
      </div>
      <div class="mb-3">
        <label for="push_count" class="form-label">推文數</label>
        <input type="text" class="form-control" id="push_count" name="push_count" value="{{ params['push_count'] }}">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
